/* Zneiat/library-register-server */
html {
}

body {
    font-family: "Helvetica Neue", "PingFangSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #5E5E5E;
    background-color: #f3f3f3;
}

a {
    text-decoration: none !important;
    transition: all .2s ease-in-out;
}

/* anim */
.anim-fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.anim-fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.anim-flash {
    -webkit-animation-name: flash;
    animation-name: flash
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
    }
}

@keyframes flash {
    0%,50%,to {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

/* main */
.main-wrap {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

/* main large-size */
.main.large-size {
    width: 100%;
    height: 100%;
}

.main.large-size .main-head {
    height: auto;
}

.main.large-size .main-head .big-title {
    line-height: 1.2;
    padding: 10px 35px;
    border-bottom: 1px solid #F4F4F4;
    text-align: left;
    text-align: center;
}

.main.large-size .main-head .project-name {
    color: #2196f3;
    font-size: 18px;
}

.main.large-size .main-head .version-info {
    font-size: 13px;
    margin-left: 10px;
    color: #718ab9;
}

.main.large-size .main-head .head-actions {
    display: inline-block;
}

.main.large-size .main-login {
    display: none;
}

.main.large-size .main-category-list-wrap {
    display: block;
}

/* main-head */
.main-head {
    background: #FFF;
    box-shadow: 0 1px 5px rgba(84, 84, 84, 0.2);
    position: relative;
    height: 100px;
    overflow: hidden;
}

.main-head .big-title {
    display: inline-block;
    color: #7186ad;
    line-height: 95px;
    text-align: center;
    width: 100%;
}

.main-head .project-name {
    color: #2196f3;
    font-size: 30px;
}

.main-head .version-info {
    font-size: 13px;
    margin-left: 15px;
    color: #718ab9;
}

.main-head .head-actions {
    display: none;
    width: 100%;
    line-height: 35px;
    padding-right: 50px;
    padding: 2px 35px;
    text-align: center;
}

.main-head .head-actions .user-name {
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: #6a6f82;
    font-size: 14px;
}

.main-head .head-actions .user-name:hover {
    color: #2196f3;
}

.main-head .head-actions .user-name > i {
    color: #2196f3;
    margin-right: 8px;
}

/* main-login */
.main-login {
    z-index: 3;
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 30px 40px;
    background: #FFF;
    transition: transform .3s ease-out 0ms;
    box-shadow: 0 1px 5px rgba(84, 84, 84, 0.2);
}

.main-login .input-hint {
    margin-bottom: 15px;
    color: #a3a9b7;
}

.main-login .input-form {
}

.main-login .form-control {
    outline: none !important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ececec;
    box-shadow: none;
    color: #777;
    text-align: center;
}

.main-login .form-control:focus {
    border-bottom: 1px solid #2196f3;
}

.main-login .login-submit {
    margin-top: 25px;
    float: right;
    padding: 7px 35px;
    border: 1px solid transparent;
    background: #2196f3;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12);
    box-shadow: 0 1px 3px rgba(0,0,0,.12);
    color: #FFF;
    font-size: 13.3333px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 2px;
    outline: none;
}

.main-login .login-submit:active {
    background: #2feab7;
}

/* main-category-list */
.main-category-list-wrap {
    display: none;
    height: calc(100% - 80px);
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 1266px;
    margin: 0 auto;
}

/* category-list */
.category-list {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(84, 84, 84, 0.2);
}

.category-list .list-head {
    position: relative;
    border-bottom: 1px solid #F4F4F4;
    height: 65px;
    overflow: hidden;
    display: flex;
    flex-flow: row;
}

.category-list .list-head .title {
    display: flex;
    flex: 1;
    font-size: 18px;
    line-height: 34px;
    padding: 15px 25px;
}

.category-list .list-head .part-right {
    flex: 4;
    font-size: 16px;
    padding: 15px 25px;
    text-align: right;
}

.category-list .list-head .part-right > *:not(:last-child) {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #e2e2e2;
}

.category-list .list-head .close-btn {
    transition: color 0.15s ease-in-out;
    cursor: pointer;
}

.category-list .list-head .close-btn:hover {
    color: #ff6f6c;
}

.category-list .list-head .list-search {
    display: inline-block;
}

.category-list .list-head .list-search > .form-control {
    display: block;
    border: 1px solid #efefef;
    box-shadow: none;
    padding: 4px 1pc;
    background: #f1f2f4;
    border-radius: 33px;
    height: 100%;
}

.category-list .list-head .list-search > .form-control:focus {
    border: 1px solid #2196F3;
}

.category-list .list-head .list-actions {
    font-size: 14px;
}

.category-list .list-head .list-actions > span {
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.category-list .list-head .list-actions > span:not(:last-child) {
    margin-right: 15px;
    border-right: 1px solid #EEE;
    padding-right: 15px;
}

.category-list .list-head .list-actions > span,
.category-list .list-head .list-actions > span > a {
    color: #818f9a;
}

.category-list .list-head .list-actions > span:hover,
.category-list .list-head .list-actions > span > a:hover {
    color: #2196f3;
}

.category-list .list-body {
    height: 100%;
    display: flex;
}

.category-list .list-content {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.category-list .list-content .item {
    position: relative;
    background: #FFF;
    padding: 15px 25px;
    border-bottom: 1px solid #F4F4F4;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.category-list .list-content .item:hover {
    background: #f9f9f9;
}

.category-list .list-content .item .item-head {
    font-size: 18px;
}

.category-list .list-content .item .item-head .category-name {
    color: #2196f3;
}

.category-list .list-content .item .item-desc {
    margin-top: 10px;
}

.category-list .list-content .item .item-desc > span {
    margin-right: 14px;
}

.category-list .list-content .item .item-desc > span > i {
    color: #2196f3;
    font-style: normal;
    margin-right: 2px;
}

.category-list .list-content .item.is-mine:before {
    content: '';
    position: absolute;
    width: 3px;
    height: calc(100% - 6px - 1px);
    top: 3px;
    left: 0px;
    background: #2196f3;
}

.category-list .list-content .item.is-completed .item-head:before {
    content: '\f108';
    font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    margin-right: 15px;
    color: #00BCD4;
}

.category-list .list-loading {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.72);
    transition: background 0.15s ease-in-out;
}

/* .create-category-dialog-layer */
.create-category-dialog-layer {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.35);
    transition: background 0.15s ease-in-out;
}

.create-category-dialog {
    background: #FFF;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2px;
    width: 400px;
}

.create-category-dialog .dialog-head {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 15px;
}

.create-category-dialog .dialog-title {
    display: inline-block;
}

.create-category-dialog .dialog-close-btn {
    display: inline-block;
    float: right;
    width: 15px;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
}

.create-category-dialog .dialog-close-btn:before {
    content: '\f136';
    font-family: 'Material-Design-Iconic-Font';
}

.create-category-dialog .dialog-close-btn:hover {
    color: #03a9f4;
}

.create-category-dialog .create-category-form {
    color: #5E5E5E;
    margin-top: 20px;
}

.create-category-dialog .create-category-form .form-control {
    border-radius: 3px;
    border: 1px solid #EEE;
    padding: 5px 15px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    outline: none;
    transition: .3s all;
    box-shadow: none;
}

.create-category-dialog .create-category-form .form-control:focus {
    border: 1px solid #03a9f4;
}

.create-category-dialog .create-category-submit {
    margin-top: 17px;
    float: right;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(177, 177, 177, 0.36);
    border: 0;
    background: #03A9F4;
    color: #FFF;
    transition: .3s all;
    outline: none;
}

.create-category-dialog .create-category-submit:active {
    background: #0095d8;
}

/* work-area */
.work-area {
}

.work-area .work-table {
    height: 100vh;
}

.work-area .floaters {
    z-index: 111;
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
}

.work-area .floaters .work-actions {
}

.work-area .floaters .work-actions .action-item {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
}

.work-area .floaters .work-actions .action-item:not(:last-child) {
    margin-right: 1px;
}

.work-area .floaters .work-actions .action-item:hover {
    color: #2196f3;
    border: 1px solid #2196f3;
}

.work-area .floaters .work-actions .action-item:active {
    color: #2feab7;
    border: 1px solid #2feab7;
}

.work-area .floaters .work-actions .action-item > i {
    margin-right: 5px;
}

.work-area .floater-block {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 1px 4px rgba(167, 167, 167, 0.42);
    width: 380px;
    height: 110px;
    border-radius: 3px;
    border: 1px solid #57b9ff;
    padding: 16px 20px;
    transition: background 0.15s ease-in-out, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.work-area .floater-block.block-hide {
    transform: translate(260px, 0);
}

/* notify */
.notify-layer {
    position: absolute;
    top: 22px;
    right: 71px;
    width: 280px;
    z-index: 1001;
}

.notify-layer .notify-item {
    display: block;
    overflow: hidden;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    color: #FFF;
    border-radius: 4px;
}

.notify-layer .notify-item:not(:last-child) {
    margin-bottom: 15px;
}

.notify-layer .notify-item.type-s {
    color: #FFF;
    background: #57d59f;
}

.notify-layer .notify-item.type-e {
    color: #FFF;
    background: #ff6f6c;
}

.notify-layer .notify-item.type-w {
    color: #FFF;
    background: #ffc721;
}

.notify-layer .notify-item.type-i {
    color: #FFF;
    background: #2ebcfc;
}

.notify-layer .notify-item p {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
}

/* Dialog Layer */
.dialog-layer {
    position: absolute;
    display: flex;
    z-index: 1000;
    background-color: rgba(86, 86, 86, 0.11);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.dialog-layer .dialog-inner {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 15px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.07);
    margin: 0 auto;
}

.dialog-layer .dialog-title {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 30px 15px 30px;
    border-bottom: 0 solid #f6f6f6;
    font-size: 16px;
    color: #333;
}

.dialog-layer .dialog-title .right-btn {
    width: 25px;
    text-align: center;
    cursor: pointer;
    color: #696969;
}

.dialog-layer .dialog-title .right-btn:hover {
    color: #03A9F4;
}

.dialog-layer .dialog-title .right-btn > i {
    line-height: 25px;
}

.dialog-layer .dialog-content {
    position: relative;
    flex: 1 1 auto;
    padding: 10px 30px 10px 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.1;
    color: #707070;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    word-break: break-all;
}

.dialog-layer .dialog-bottom {
    display: flex;
    padding: 15px 25px 0 25px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    color: #575757;
}

.dialog-layer .dialog-bottom .dialog-btn {
    color: #2196f3;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    text-align: center;
    border-radius: 2px;
    padding: 6px 13px;
}

.dialog-layer .dialog-bottom .dialog-btn:hover {
    background-color: #f6f6f6;
}

.dialog-layer .dialog-bottom .dialog-btn:not(first-child) {
    margin-left: 5px;
}

/* loader */
.page-loader-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #17b7ff;
    z-index: 999999999;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    display: flex;
}

.page-loader-layer .loading-text {
    display: flex;
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0 1px 5px rgba(84, 84, 84, 0.2);
}

.page-loader-img {
    position: relative;
    width: 100px;
    height: 100px;
    background: #FFF;
    box-shadow: 0 1px 5px rgba(84, 84, 84, 0.2);
    border-radius: 50%;
}

.page-loader-img .loader-img {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page-loader-spinner {
    position: relative;
    width: 50px;
    height: 50px
}

.page-loader-spinner svg {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page-loader-spinner svg circle {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
    stroke-linecap: round
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px
    }
}

@keyframes color {
    0%,100% {
        stroke: #ff5652
    }

    40% {
        stroke: #2196F3
    }

    66% {
        stroke: #32c787
    }

    80%,90% {
        stroke: #ffc107
    }
}